.nav-link{color:#000;font-weight: bold;}

#banner{
    display:flex;
    height:300px;
    background-color: gray;
    justify-content: center;
    align-items: center;

}

#servico .row div{
    height:330px;
}

#about .row .txt-about{
  
}